body {
    color: white;
    background-color: #c2a5c6;
    text-align: center;
    font-family: poiret;
    font-size: 1rem;
}

.navbar { 
  width: 50%;
  /*background-color: #333;*/
  overflow: auto; 
  display: inline-block;
   }

  .navbar a {
    display: inline-block;
    padding: 12px;
    color: white;
    font-size: 17px;
    width: 20%; 
    font-family: poiret; 
    background-color: #514453;
    border-radius: 0.2rem; 
    border-color: white;
    border-width: 10px;
    text-decoration: none;

 }
  
 /* .navbar a:hover {
    background-color: #514453;
  }  */


.uvod {
    margin-top: 3rem;
}

h1 {
    font-size: 2rem; 
    font-weight: normal; 
    font-family: poiret; 
    text-align: center;}

h2 {
    font-size: 1rem; 
    font-weight: normal; 
    font-family: permanent; 
    text-align: center;}

    h3 {
        font-size: 1rem; 
        font-weight: normal; 
        font-family: poiret; 
        text-align: center;}


.intro-text {
    background-color: #514453;
    padding:20px; 
    margin-left:20%; 
    margin-right:20%; 
    border-radius: 30px 30px 30px 1px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 16px;
    text-align: justify;}

.muj-img {   
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%}

.moje-ico {   
    border-radius: 50%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 40px;}

.text {
    width: 300px;
    height: 100px;
    padding: 20px;}

.center-img {
    text-align: center;}

a:hover    { color: #ebcef0}
a{color: #a685ab}

@font-face {
    font-family: poiret;
    src: url('Poiret_One/PoiretOne-Regular.ttf');
    }

@font-face {
    font-family: permanent;
    src: url('Permanent_Marker/PermanentMarker-Regular.ttf');
    }

    
/*
.pozadi {
    background-image: url('pozadi.png')}    

.card {
        width: 50px;
        height: 50px;
        background: url("FB-ico.png") no-repeat;
        display: inline-block;
    }
.card:hover {
        background: url("FB-ico-hover.png") no-repeat;
    }
*/